/* line 17, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/blog.sass */
h1 {
  font-size: 18px;
}

@-webkit-keyframes caret {
  /* line 43, ../sass/blog.sass */
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
    opacity: 0.1;
    -webkit-transform: scaleY(0.8);
    -moz-transform: scaleY(0.8);
    -ms-transform: scaleY(0.8);
    -o-transform: scaleY(0.8);
    transform: scaleY(0.8);
  }
}

@-moz-keyframes caret {
  /* line 43, ../sass/blog.sass */
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
    opacity: 0.1;
    -webkit-transform: scaleY(0.8);
    -moz-transform: scaleY(0.8);
    -ms-transform: scaleY(0.8);
    -o-transform: scaleY(0.8);
    transform: scaleY(0.8);
  }
}

@-o-keyframes caret {
  /* line 43, ../sass/blog.sass */
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
    opacity: 0.1;
    -webkit-transform: scaleY(0.8);
    -moz-transform: scaleY(0.8);
    -ms-transform: scaleY(0.8);
    -o-transform: scaleY(0.8);
    transform: scaleY(0.8);
  }
}

@keyframes caret {
  /* line 43, ../sass/blog.sass */
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
    opacity: 0.1;
    -webkit-transform: scaleY(0.8);
    -moz-transform: scaleY(0.8);
    -ms-transform: scaleY(0.8);
    -o-transform: scaleY(0.8);
    transform: scaleY(0.8);
  }
}

/* line 54, ../sass/blog.sass */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 57, ../sass/blog.sass */
a {
  text-decoration: none;
}

/* line 60, ../sass/blog.sass */
#header {
  position: fixed;
  top: 0;
  height: 135px;
  display: block;
  width: 100%;
  z-index: 9;
  text-align: center;
  color: #f2f2f2;
  padding: 0;
}

/* line 71, ../sass/blog.sass */
#topbar {
  height: 55px;
  background: rgba(255, 255, 255, 0.49);
}

/* line 76, ../sass/blog.sass */
#title {
  height: 80px;
  display: inline-block;
  float: left;
  line-height: 80px;
  padding-left: 20px;
  font-size: 40px;
}
/* line 83, ../sass/blog.sass */
#title a {
  color: white;
}

/* line 86, ../sass/blog.sass */
#menuDiv {
  height: 80px;
  background: rgba(45, 48, 50, 0.49);
}
/* line 89, ../sass/blog.sass */
#menuDiv ul {
  width: 400px;
  float: right;
}
/* line 92, ../sass/blog.sass */
#menuDiv ul li {
  float: right;
  border-left: 1px solid white;
  overflow: hidden;
  width: 138px;
  height: 80px;
}
/* line 98, ../sass/blog.sass */
#menuDiv ul li a {
  display: inline-block;
  line-height: 80px;
  font-size: 16px;
  position: relative;
}
/* line 103, ../sass/blog.sass */
#menuDiv ul li a span {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}
/* line 106, ../sass/blog.sass */
#menuDiv ul li:hover a {
  width: 170px;
  background: #0dcbc0;
  font-size: 25px;
  color: black;
}
/* line 111, ../sass/blog.sass */
#menuDiv ul li:hover span {
  position: absolute;
  font-size: 100px;
  text-shadow: 0px 0px 1px #0dcbc0;
  opacity: 0.2;
  left: -5px;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
}
/* line 120, ../sass/blog.sass */
#menuDiv span {
  color: white;
  display: inline-block;
  position: relative;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.08, 0.6, 0.56, 1.4);
  -moz-transition: -moz-transform 400ms cubic-bezier(0.08, 0.6, 0.56, 1.4);
  -o-transition: -o-transform 400ms cubic-bezier(0.08, 0.6, 0.56, 1.4);
  transition: transform 400ms cubic-bezier(0.08, 0.6, 0.56, 1.4);
}
/* line 125, ../sass/blog.sass */
#menuDiv span.odd {
  -webkit-transform: translateY(-15px) rotateX(90deg);
  -moz-transform: translateY(-15px) rotateX(90deg);
  -ms-transform: translateY(-15px) rotateX(90deg);
  -o-transform: translateY(-15px) rotateX(90deg);
  transform: translateY(-15px) rotateX(90deg);
}
/* line 127, ../sass/blog.sass */
#menuDiv span.even {
  -webkit-transform: translateY(15px) rotateX(90deg);
  -moz-transform: translateY(15px) rotateX(90deg);
  -ms-transform: translateY(15px) rotateX(90deg);
  -o-transform: translateY(15px) rotateX(90deg);
  transform: translateY(15px) rotateX(90deg);
}
/* line 129, ../sass/blog.sass */
#menuDiv .caret {
  -webkit-animation-name: caret;
  animation-name: caret;
  -webkit-animation-duration: 400ms;
  animation-duration: 400ms;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  animation-direction: normal;
}

/* line 132, ../sass/blog.sass */
.section {
  padding-top: 40px;
}
/* line 133, ../sass/blog.sass */
.section h1 {
  margin: 10px 0;
}
/* line 135, ../sass/blog.sass */
.section p {
  color: #818b92;
  font-weight: 300;
  line-height: 20px;
}
/* line 141, ../sass/blog.sass */
.section .leftInStart {
  position: relative;
  left: -200%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  -webkit-transition-duration: 800ms;
  -moz-transition-duration: 800ms;
  -o-transition-duration: 800ms;
  transition-duration: 800ms;
}
/* line 146, ../sass/blog.sass */
.section .leftInEnd {
  left: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition-duration: 800ms;
  -moz-transition-duration: 800ms;
  -o-transition-duration: 800ms;
  transition-duration: 800ms;
}
/* line 151, ../sass/blog.sass */
.section .rightInStart {
  position: relative;
  right: -200%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  -webkit-transition-duration: 800ms;
  -moz-transition-duration: 800ms;
  -o-transition-duration: 800ms;
  transition-duration: 800ms;
}
/* line 156, ../sass/blog.sass */
.section .rightInEnd {
  right: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition-duration: 800ms;
  -moz-transition-duration: 800ms;
  -o-transition-duration: 800ms;
  transition-duration: 800ms;
}
